@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

body {
    font: 500 14px Roboto, sans-serif;
    background: #E7EAEF 0% 0% no-repeat padding-box;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

button {
    cursor: pointer;
}